# Created by https://www.gitignore.io/api/vuejs
# Edit at https://www.gitignore.io/?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

practica-1/node_modules/
practica-1/dist/

vue-route/node_modules/
vue-route/dist/

bootstrap-vuejs/node_modules/
bootstrap-vuejs/dist/

# End of https://www.gitignore.io/api/vuejs