<!DOCTYPE html>
<html lang="en">

<head>
  <title>Componentes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div id="app" class="container mt-5">
    <titulo></titulo>
    <saludo></saludo>
    <contador></contador>
  </div>

  <script src="./components/titulo.js"></script>
  <script src="./components/saludo.js"></script>
  <script src="./components/contador.js"></script>
  <script>
    const vm = new Vue({
      el: '#app'
    });
  </script>
</body>

</html>